<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>
<pre> Welcome to the Calculator! </pre>
<pre> You can use basic calculator commands:</pre>
    <span style="font-size: large; color: darkgreen;">
<pre> - multiplication;</pre>
<pre> - addition;</pre>
<pre> - subtraction;</pre>
<pre> - division.</pre>
    </span>
<pre>

</pre>
<pre>
Please type the action like:
    <span style="font-size: large; color: darkgreen;">
http://localhost:8080/calculator/action/?firstNumber=<span style="font-size: large; color: orangered;">yourFirstNumber</span>&secondNumber=<span style="font-size: large; color: orangered;">yourSecondNumber</span>&action=multiplication
</span>
</pre></b>

</body>
</html>